services:
  db:
    image: postgres:16-alpine
    container_name: ${DB_CONTAINER_NAME}
    restart: always
    environment:
      POSTGRES_USER: ${DB_USERNAME}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
      POSTGRES_DB: ${DB_NAME}
    ports:
      - "${DB_PORT}:5432"
    volumes:
      - postgres_db_data:/var/lib/postgresql/data
    networks:
      - nest-net

networks:
  nest-net:

volumes:
  postgres_db_data: